<div id="user_map_edit_<%= user_map.id.to_s %>" class="tableRecord">
	<%= form_for([account,user_map], :url => account_user_map_path(account, user_map, :rg_account_id_hash => params[:rg_account_id_hash]), :html => {:class => 'edit_user_map'}) do |f| %>
	  <% if user_map.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(user_map.errors.count, "error") + t('user_map.prohibited_saving') %>:</h2>
	
	      <ul>
		      <% user_map.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<% if notice.present? && notice.start_with?(t('activerecord.models.user_map').capitalize) %>
		  <div id="notice"><%= notice%></div>
	  <% end %>
	
    <span class="highrise">
      <%= f.text_field :hr_user_token %>
    </span>
    <span class="ringioUser">
      <%= select :user_map, :rg_user_id, @mails_for_select, :selected => user_map.rg_user_id %>
    </span>
    <span class="actions">
      <%= f.submit t('test_and_update') %>
    </span>

  <% end %>
  &nbsp;| <%= button_to t('delete'), account_user_map_path(@account, user_map, :rg_account_id_hash => params[:rg_account_id_hash]), :method => :delete %>
</div>