<p id="notice"><%= notice %></p>

<p>
  <b>Hr user:</b>
  <%= @user_map.hr_user_id %>
</p>

<p>
  <b>Rg user:</b>
  <%= @user_map.rg_user_id %>
</p>

<p>
  <b>Hr token:</b>
  <%= @user_map.hr_user_token %>
</p>

<p>
  <b>Rg email:</b>
  <%= @user_map.rg_email %>
</p>

<p>
  <b>Master user:</b>
  <%= @user_map.master_user %>
</p>


<%= link_to 'Edit', edit_user_map_path(@user_map) %> |
<%= link_to 'Back', user_maps_path %>
