<html>
<head>
  <title>Ringio Plugin Highrise</title>
  <%= stylesheet_link_tag "style" %>
	<%= javascript_include_tag :all %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
	    <%= yield :javascript %>
	  });
	</script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
