<%= form_for(@account, :url => account_path(@account, :rg_account_id_hash => params[:rg_account_id_hash])) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") + t('account.prohibited_saving') %>:</h2>

      <ul>
	      <% @account.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
	
  <% if notice.present? && notice.start_with?(t('activerecord.models.account').capitalize) %>
    <div id="notice"><%= notice%></div>
  <% end %>

  <h4><%= t('account.hr_subdomain') %></h4>
  <div class="sectionContent">
	    https://www.<%= f.text_field :hr_subdomain %>.highrisehq.com
	</div>

  <div id="savePlugin" class="actions">
    <%= f.submit t('account.submit'), :class => 'button' %>
  </div>
<% end %>
