<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") + t('account.prohibited_saving') %>:</h2>

      <ul>
	      <% @account.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= t('account.hr_subdomain') %></h4>
  <div class="sectionContent">
	    https://www.<%= f.text_field :hr_subdomain %>.highrisehq.com
	</div>

	<h4><%= t('account.existing_data') %></h4>
	<div class="sectionContent">
    <div class="fieldGroup checkboxPanel">
      <%= f.radio_button(:sync_only_new_data,true) %>
		  <%= f.label :sync_only_new_data, t('account.sync_only_new_data_true') %>
		</div>
		<div class="fieldGroup checkboxPanel">
      <%= f.radio_button(:sync_only_new_data,false) %>
		  <%= f.label :sync_only_new_data, t('account.sync_only_new_data_false') %>
		</div>
  </div>
	
  <div id="savePlugin" class="actions">
    <%= f.submit t('account.submit'), :class => 'button' %>
  </div>
<% end %>
