<% content_for :javascript do %>

	function ajaxCreateUserMapForm() {
	  $('#new_user_map').live('submit', function() {
	    $(this).ajaxSubmit({
	      target: '#user_maps_index',
	      clearForm: true
	    });
	    return false
	  });
	}

	function ajaxUpdateUserMapForm() {
    $('form.edit_user_map').live('submit', function() {
      $(this).ajaxSubmit({
        target: ('#' + $(this).parent().attr('id'))
      });
      return false
    });
  }

  function ajaxDeleteUserMapForm() {
    $('form.button_to').live('submit', function() {
      $(this).ajaxSubmit({
        target: '#user_maps_index'
      });
      return false
    });
  }
  
	$(function() {
	  ajaxCreateUserMapForm()
    ajaxUpdateUserMapForm()
		ajaxDeleteUserMapForm()
	})

<%end%>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% if @account.hr_subdomain.present? %>

	<div>
		<h4><%= t('account.tokens_and_users') %></h4>
		<%= t('account.find_token') %> <%= link_to t('screenshot'), '/images/find_token.png', :target => '_blank' %>
	</div>
	
	<br/>
	
	<tr>
	  <th><%= t('user_map.hr_user_token') %></th>
	  <th><%= t('user_map.rg_user') %></th>
	  <th><%= t('user_map.master_user') %></th>
	  <th><%= t('actions') %></th>
	</tr>
	
	<br/>
	<br/>
  <div id="user_maps_index">
    <%= render 'user_maps/block_for_ajax' %>
  </div>

<% else %>

  <h4><%= t('account.save_subdomain') %></h4>

<% end %>

<%= render 'form' %>

