<% content_for :javascript do %>

  function ajaxCreateUserMapForm() {
    $('#new_user_map').live('submit', function() {
      $('#wait').show();
  		$(this).ajaxSubmit({
        target: '#ajax_block',
        clearForm: true,
  			success: function () {
  			  $('#wait').hide();
  			}
      });
      return false
    });
  }

  function ajaxUpdateUserMapForm() {
    $('form.edit_user_map').live('submit', function() {
  	  $('#wait').show();
      $(this).ajaxSubmit({
        target: ('#' + $(this).parent().attr('id')),
        success: function () {
          $('#wait').hide();
        }
  	  });
      return false
    });
  }

  function ajaxDeleteUserMapForm() {
    $('form.button_to').live('submit', function() {
      $('#wait').show();
  		$(this).ajaxSubmit({
        target: '#ajax_block',
  			success: function () {
          $('#wait').hide();
        }
      });
      return false
    });
  }
  
  $(function() {
    ajaxCreateUserMapForm()
    ajaxUpdateUserMapForm()
  	ajaxDeleteUserMapForm()
  })
	
  // manage master user radio buttons	
  $('input.master_radio').live('click', function() {
    $('input.master_radio').removeAttr('checked');
  	$(this).attr('checked','checked');
  	$(this).parent().submit();		
  });
	
  $('#wait').hide();
	
	$('#newRecordButton').live('click', function() {
    var tb = $('#newRecordTable');
    if (tb.hasClass('hidden')){
      tb.slideDown();
      $('#newRecordButton').hide();
    }
  });

<%end%>

<div class="plugin">

	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
	
	<div id="wait"><%= t('wait_loading') %></div>
	
	<% if @account.hr_subdomain.present? %>
	
	  <h4><%= t('account.tokens_and_users') %></h4>
		<%= render 'user_maps/block_for_ajax' %>
	
	<% else %>
	
	  <h4><%= t('account.save_subdomain') %></h4>
	
	<% end %>
	
	<%= render 'form' %>

</div>
