<p id="notice"><%= notice %></p>

<p>
  <b><%= t('account.hr_subdomain') %></b>
  <%= @account.hr_subdomain %>
</p>

<p>
  <b>Sync only new data:</b>
  <%= @account.sync_only_new_data %>
</p>

<p>
  <b>Sync missing hr accounts:</b>
  <%= @account.sync_missing_hr_accounts %>
</p>

<p>
  <b>Sync missing hr contacts:</b>
  <%= @account.sync_missing_hr_contacts %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |

